Bug in OpenSSL : Timestamping error

When attempting to timestamp, we have gotten the error below.  Can anybody help us out?

System command failed: 139639965218464:error:2F067065:time stamp routines:TS_CHECK_SIGNING_CERTS:ess signing certificate error:ts_rsp_verify.c:291:, Verification: FAILED”


Hello,

Please provide more informations:

- what operating system ?
- what version of elabftw ?
- what version of php/openssl
- do you use the default TSA ?

Can you provide us with a timestamped pdf and a token so we can try to reproduce ?


Hi Nicolas, 
I'm getting a similar error after updating from 1.1.8-p2 to 1.2.0-alpha using the default (DFN) TSA. I can confirm that it was working fine before the update.

```
System command failed: 1996412112:error:2F067065:time stamp
routines:TS_CHECK_SIGNING_CERTS:ess signing certificate
error:ts_rsp_verify.c:311:, Verification: FAILED
```

OS: Archlinux x86_64, Kernel 4.5.1
OpenSSL: 1.0.2g
PHP: 7.0.5

Best regards,

Alex

Yep, I can confirm too, weird, because it was working fine before, and I don't think I changed anything.

Can you confirm it works in 1.1.8-p2 ? Because if I do a git checkout 1.1.8-p2, it still doesn't work. Or even 1.1.8. And it was working in alpha, because I tested it a few days ago.

**Could it be a problem on DFN side ?**

Yep you're right. Downgrading doesn't help, even a fresh install of anything down to 1.1.7 doesn't help. 

> Could it be a problem on DFN side ?

I'll check if they've changed anything regarding their certificate chain.

Yeah thanks, it'll be easier for you (language-wise).

Responding to the request for more information:

Installed version: 1.1.8-p2
on a digital ocean droplet running Ubuntu 14.04 x64
PHP 5.5.9-1ubuntu4.11
openSSL 1.0.1f

I didn't customize -- followed the directions at doc/_build/html/install-drop.html

Just a quick update: The certificate chain is unchanged (aka "the good news") and I can reproduce the faulty behavior with OpenSSL on on the command line level.

The bad news is that we're probably hitting an OpenSSL issue first noticed back in 2013:

- http://openssl.6102.n7.nabble.com/possible-Bug-in-OpenSSL-rfc-3161-TSA-service-tt43128.html#none

The summary is that OpenSSL can't digest TS replies well if attribute certificates are added to them. This scenario (although conformant to the rfc3161) is not supported by OpenSSL. My best guess is that the guys at DFN changed the way their TS replies are formed (software update, etc.). I'll try to get in contact with them to figure out if they are able (and willing) to fix their service for OpenSSL users again. There's absolutely nothing we can do in the meantime (aka "the really bad news"). 

The consequences are that any timestamps generated before DFN broke for us will _still_ validate because the stored binary responses are ok for OpenSSL, but you will not be able to generate new ones.

I'll report back as soon as I get a response from the DFN.

Cheers,
Alex


Yep, thanks for the update Athemis, I saw the page you linked before. Openssl sucks....

I got an answer from the DFN. They are aware of the issue. They intentionally included an Attribute Signing Certificate (RFC5035 and RFC5816) to improve security by providing a mechanism to identify the signing certificate inside the timestamping response which means that my initial guess concerning the cause of our problems was correct. This change happened on April 14th, any timestamps generated before that date will validate without problems. My contact at DFN pointed out that there is a patch under discussion at the openssl github page: https://github.com/openssl/openssl/pull/771

A patched openssl should work again without any problems in combination with the DFN service. Until the patch is mainlined you have to patch openssl yourself. Furthermore they are developing a small java program to verify RFC3161 timestamps and will publish it when it's ready. The release will be announced here: https://blog.pki.dfn.de

Our options are:

1. Wait for the patch beeing mainlined in openssl
2. Patch openssl yourself if using DFN
3. Wait for the DFN to publish their verification tool (which will be usable for all RFC3161 timestamps not only those from the DFN) and provide a backend for their tool as an alternative/in addition to openssl

Cheers,
Alex

Ok thanks Athemis for this information. I think we'll go with option 1. And maybe I can disable the verification step in timestamping until openssl is patched. And show a message referencing this issue.

I would opt for keeping the verification functional. There is no point in timestamping if the timestamps are not verified. This issue is not present for all TSAs but only for those who add attribute certificates. We can catch the error message from openssl and display a more meaningful error instead, pointing out that the timestamp cannot be validated because of shortcomings in openssl and suggesting the user to install a patched openssl version or (when mainlined) urging to update to a recent openssl version. Imho that's more transparent then just pretending everything is fine although no verification is done at all.

I agree the problem might not arise for another TSA, but I highly doubt people are using something else than the default…

Now I agree that timestamping without actually verifying is useless, so I'll do what you suggest, catch this specific error and display a message :)

The DFN published their java tool for timestamp verification and also put up a <a href="https://translate.google.com/translate?hl=de&sl=de&tl=en&u=https%3A%2F%2Fblog.pki.dfn.de%2F2016%2F04%2Fzeitstempeldienst-der-dfn-pki-jetzt-mit-sha-2-signaturen%2F">site explaining</a> in detail what changed and why openssl is currently broken in this context.

Yep, I was able to verify an old token with their tool. So the question is : do we introduce this tool as a failsafe for validating the token ? This would allow to continue timestamping until the bug in openssl is fixed, what do you think ?

Taking into account that openssl is not known for merging pull requests very fast (especially the timestamping subsystem doesn't seem to get much love from the devs) this sounds to me like a good idea. We just need to make sure to mention somewhere in the documentation that if the verification fails and one wants to use this fallback mechanism, a functional java installation is required.

Yep, I'll do that.

So for now, the java validator works on my machine. Didn't work in the docker image for some reason...

I was thinking to include the patched version of openssl with elab. I guess it should work. I'll see about that :)

Works as well on my machine. Well done! :smile: 
Distributing a pre-compiled openssl version might prove cumbersome: You'd have to provide statically linked binaries for at least x86/x86_64 and probably ARM (with its numerous variants). Imho it's probably not worth the trouble ;-)

As openssl is installed on most machines, and as it is already a requirement for elabftw, I don't need to build a static binary, because libs should be there! Also, I'm pretty sure 99.5% of people are on x86_64 arch. I'll still try, and maybe give up after failing to compile openssl :p 

I don't manage to validate with the patched version anyway...

~~~sh
Verification: FAILED
140165594154648:error:2F064067:time stamp routines:ts_check_imprints:message imprint mismatch:ts_rsp_verify.c:675:
~~~

Ok so now the validation of timestamps works in docker also. \o/

I'll soon release 1.2.0 so that users can continue to timestamp their experiments.

Hello, I've been struggling for some time with this problem. Could you please tell me how did you solve it? Applying a patch? Using DFN Java verification tool? I talking about:
*****
System command failed: 139639965218464:error:2F067065:time stamp routines:TS_CHECK_SIGNING_CERTS:ess signing certificate error:ts_rsp_verify.c:291:, Verification: FAILED”
*****
Could you help me I'm not expert enough to apply a patch myself or install the java DFN Java verification without any hint.

Hello,

Please try the latest BETA version, it works with Java to validate the timestamps. You can `git checkout -b next` and `git pull origin next`.

You're talking about patching Openssl right? not using the DFN Java client. I'm not sure. I'm in ubuntu 14.04, I cloned git  `$ git  clone git://git.openssl.org/openssl.git`.
Then I tried the two commands but:
`certifydocserver@certifydocservervb:~$ git version
git version 1.9.1
certifydocserver@certifydocservervb:~$ git pull origin next
fatal: Not a git repository (or any of the parent directories): .git
certifydocserver@certifydocservervb:~$ git checkout -b next
fatal: Not a git repository (or any of the parent directories): .git`

No, I'm talking about using the beta version of elabftw, which uses the Java client to validate timestamps.
https://github.com/elabftw/elabftw/releases/tag/1.2.0-beta
Also, the git commands I gave need to be performed inside the elabftw folder.

Would you be so kind to tell me which are the steps I should perform. I really don't understand what should I do.


This is my best guess, please correct me:

1. Download your source code in my Ubuntu 14.04 VM
2. Somehow build it there (I've never done it, I'll study how to do it)
3. Then I suppose I have compiled a service that is in the path for Ubuntu, which I can call it via terminal or PHP.
4. I use my PHPcode to perform the timestamp verification with the TSA certificate with this code (as I do calling Openssl now). Which is the command I should use? Is there a documentation?

`
        $responsefile = self::createTempFile($binary_response_string);
        $cmd = "openssl ts -verify -digest ".escapeshellarg($hash)." -in ".escapeshellarg($responsefile)." -CAfile ".escapeshellarg($tsa_cert_file);
       $retarray = array();
        exec($cmd." 2>&1", $retarray, $retcode);
        if(unlink($responsefile)) {
                If ($debugMN) {echo " File Deleted Tempfile in validate"; }      
        }
`


Hello,

I'm confused by what you are telling me.
What you need to do is : 
1. Get the latest BETA version of elabftw. You can grab it here : https://github.com/elabftw/elabftw/releases/tag/1.2.0-beta OR you can use git : 

~~~sh
# to get a new folder
git clone -b next https://github.com/elabftw/elabftw
# OR to update an existing installation (once inside the elabftw folder)
git checkout -b next
git pull origin next
~~~

2. There is NOTHING to build, it's a PHP app, not a C++ app ;)

3. Use elabftw normally, timestamps should work (provided java is installed).

Great, now I understood, I'm going to adapt the PHP code you provided with mine and in a couple of days I'll see if I can make it.

I've noticed thst in the folder /elabftw/vendor/dfn-cert/timestampverifier/ the file cerify.sh send the commend providing not one but three certificates (the dfn I suppose) chain.txt, crl.txt, rootcert.crt.

Are those three needed? In "openssl -verify" I just gave one (not sure which type though).
I would like to use this validation also for other TSA, should I ask these three type of certificates to the other TSAs or only one is mandatory?


Yes the three files are needed for the Java program verifying the timestamp. But with openssl it's not exactly the same.

I don't know about other TSAs, but I suppose only the cert file is needed (with openssl -verify).

I didn't really understand what you are trying to achieve. Are you writing an app to validate timestamps ?

Opennsl -verify  has problems with all TSAs that updated the certificate, that's what happens to me.
If you give timestamps programmatically, make no sense and it can have dangerous legal consecuences, giving them without validation, what's the legal value after years? You need to validate immediately and provide a qualified timestamp.

OK, I'll try with just one of them when performing the validation on other TSAs.

Which is the difference between these three files if I may ask?

I'm timestamping on the server side the document sent by users through various TSAs, redundancy 3 minumum. And it is fundamental to validate before delivering the timestamp. So far only openssl worked and now I found only this patch to try. Since TSA changes without notice name, certificate, etc.. I doing a module that accepts many TSA on the server side. 


Oh ok I understand now, I thought you were using elabftw! Should have read your first message better :)

The Java from DFN uses BouncyCastle lib, and I believe that's what  you should use unless openssl get patched.

FYI, I tried the patched openssl branch and it didn't work :( But maybe I did something wrong...dunno.

Cheers,
~Nico

BTW: I'm closing this issue because it is resolved now :)

Hello, 

Today I installed eLabftw (the 1.2.0-beta version) and I've been enjoying its many features, but I can't get the timestamp to work.

I get the following error message:

> There was an error with OpenSSL. Is version >= 0.99 installed?: openssl:Error: 'ts' is an invalid command., , Standard commands, asn1parse ca ciphers crl crl2pkcs7, dgst dh dhparam dsa dsaparam, ec ecparam enc engine errstr, gendh gendsa genrsa nseq ocsp, passwd pkcs12 pkcs7 pkcs8 prime, rand req rsa rsautl s_client, s_server s_time sess_id smime speed, spkac verify version x509, , Message Digest commands (see the `dgst' command for more details), md2 md4 md5 mdc2 rmd160, sha sha1, , Cipher commands (see the `enc' command for more details), aes-128-cbc aes-128-ecb aes-192-cbc aes-192-ecb aes-256-cbc, aes-256-ecb base64 bf bf-cbc bf-cfb, bf-ecb bf-ofb cast cast-cbc cast5-cbc, cast5-cfb cast5-ecb cast5-ofb des des-cbc, des-cfb des-ecb des-ede des-ede-cbc des-ede-cfb, des-ede-ofb des-ede3 des-ede3-cbc des-ede3-cfb des-ede3-ofb, des-ofb des3 desx rc2 rc2-40-cbc, rc2-64-cbc rc2-cbc rc2-cfb rc2-ecb rc2-ofb, rc4 rc4-40 rc5 rc5-cbc rc5-cfb, rc5-ecb rc5-ofb seed seed-cbc seed-cfb, seed-ecb seed-fob,


Is is possible the timestamping on my install is not linked to the Java DFN method of timestamping?

Any help would be very much appreciated. Thank you.

Hello,

In fact only the VALIDATION uses the Java program provided by DFN. For sending the request it's still openssl. So you need openssl installed (and a recent version).

Is openssl installed ? If yes which version ?

Hi,

Thank you for your response and your clarification. 

I installed XAMMP 5.6.21 / PHP 5.6.21, which apparently includes OpenSSL 1.0.2h.

I've had a look at the subfolders associated with OpenSSL within the XAMMP installation and I can see "ts.h" and "ts.1" - in /include and /man1 subfolders, respectively.

I've googled looking for a solution, but I'm not familiar with XAMMP and I have only installed it to run eLabftw. I'll keep looking for a solution.

My install is on Mac OSX Capitan 10.11.1.

Any further guidance would be gladly appreciated.

Cheers,
G

Hello,

Ok so you have openssl, but it doesn't want to do timestamping. My guess is that your version was compiled without timestamp support. If you open your Terminal, and enter `openssl --help` you should see `ts` in the available commands. If you don't see it, then I was right, it was compiled without TS support.

Please tell me what you see. Maybe openssl isn't in your $PATH (command not found error), in this case use the full path.

Hi,

So I tried to run the command 

> openssl ts

in a terminal and it gave the same error. I then tried 

> openssl version

and this gave version "OpenSSL 0.9.8zg 14 July 2015". I then typed

> whereis openssl

and I got a location that isn't the xampp file folder, thus it looks like my problem is an older install of openssl (before version 0.99, thus not including the timestamp function).

Yes, I guess that's the openssl that comes with Mac OS. It's very old and should not be used. But because Apple doesn't care about this kind of stuff, they ship it with their OS…

To fix this, you need to modify the $PATH and put the folder with recent openssl before the normal one. Maybe editing /etc/profile or /etc/bashrc (it has to be system-wide because it's the server using this, not your user).

Another option (easier) might be to change [this line](https://github.com/elabftw/elabftw/blob/master/app/classes/TrustedTimestamps.php#L153).
Instead of having just 'openssl', add the full path to the correct version!
You will need to do that after each update of course.

When Docker will work on Mac OS, this kind of problem will disappear. But for now it's like that :/

Hello,

Thanks for that suggestion.
I looked into changing $PATH system wide, I decided against as there may be other applications on my operating system that are dependent on the libraries from the older version of openssl.

Your suggested fixed addressed to openssl issue (but took me a number of tries).
In the TrustedTimestamp.php file, on line you suggested, I replaced 

> "openssl" 
with

> "/Applications/XAMPP/xamppfiles/bin/openssl"`

One of the things that caused me issues was I accidentally removed the space after openssl... and that  doesn't work... doh!

Unfortunately, I now have a new error when I timestamp:

> Could not validate the timestamp with java failsafe method. Please report this bug on Github.


The jre java version I have installed on my relatively new MAC is:
1.8.0_91

When I try running the verify script in a terminal `$ ./verify.sh` I get:

> ....Unsupported major.minor version 52.0...

Perhaps, if I installed an earlier version of java, the same as you use on the system where the timestamping is working, and then modify the script in TrustedTimestamp.php to that software... I can get the timestamping to work on my MAC... what do you think?

I tried modifying the script in verify.sh to specific (i.e. path/to/bin added infront of java) either the jre or the jdk java installations on my MAC - the jdk java is version 1.6.0_65.

Unfortunately neither of these things changed the error messages... :-(

Hello,

Ok, I guess it's the same problem than with openssl. Mac ships with old versions of everything... Why don't you just use GNU/Linux already ? :p 

Anyway, you should install java jre 8. Use [brew](http://brew.sh/) for that (and google). Once it's done you can do the same as for the Openssl, on the line 14 of verify.sh, put the full path.

Again, once Docker on Mac will work, this kind of issues will disappear....

And don't worry about bothering me, you're not ;) I'm happy to know that the old versions of openssl and java prevent elab from doing timestamps! I'll switch to docker on Mac as soon as it's out of beta.

~Nico

Hi Nico,

Thanks so much!! I got it to work :-)

I used the instructions here: 
http://davidcai.github.io/blog/posts/install-multiple-jdk-on-mac/
for installing multiple java versions.

Is it possibly to change the location (and timezone) of the timestamp? I'm in a lab in Australia.

Thanks again!
Gen

Cool :)

The timestamp is the same everywhere on Earth because it's universal time ;)

I made the DFN java validation work with the DFN certificates contained by default in it. Next week I'll test other TSAs and see if we can validate with only one type of certificate, now it seems that the DFN java validation based on Bouncycastle input three types of certificates.

I had the same problem gebee had with the wrong Java  version. I use Ubuntu 14.04 and I tried to use the default Java  7
`sudo apt-get install default-jdk`
But didn't work, then I installed the Oracle Java 8
`apt-get install oracle-java8-installer`
And It worked (instructions here https://www.atlantic.net/community/howto/install-java-ubuntu-14-04/)
I post here because it might save some time to others choosing the right Java for the DFN Java validation patch.


@MarioScalabrino as I have the same problem, would you share the method you used to be able to verify timestamps please ? I'm really not good at PHP so I don't understand how to change the code to perform these checks. 

Thanks in advance.

@typepub, it's not going to be easy if you're not goodd at PHP but you can try anyway.

The PHP code we all use is based on David Mueller's code. Originally used only openssl, but openssl didn't upgrade to support the new certificates, so in 2012 we had that bug that nobody wants to correct, DDFN (German Research Network) used Bouncycastle library to make the verification for its own TSA and its own certificates but it is in Java.
Nicolas Carpi made a great integration in his elabftw between the PHP code that we all used to communicate with the TSA and this Java validation provided by DFN.

I hope I explained what we are doing here and why.

Now let's go to where and how.

When the error occur it is handled in this line:
https://github.com/elabftw/elabftw/blob/master/app/classes/TrustedTimestamps.php#L423

This line calls the fuction validateWithJava() which in turn run the execution of the verify.sh file.
$cmd = "./verify.sh " . $this->requestfilePath . " " . $this->responsefilePath;
$javaRes = $this->runSh($cmd);

If you open the file verify.sh you can see that it sends the java commands providing two external parameter and not one but three certificates (the DFN ones) chain.txt, crl.txt, rootcert.crt.

It's going to take some time if you're not expert to adapt the code to your situation, but don't give up :-)

Let me know if that helped you.

Hello,

Thanks for your fast and helpful answer. I have the same problem as yours as I want to verify timestamps but openssl is clearly not capable of modern timestamp checks.

Well, I tried to use the verify.sh script directly, which is more my level. Seems working so far, as I get a « successful failure »:
Data in response matches data in request.
Exception in thread "main" java.lang.NullPointerException
	at de.dfncert.timestampverifier.TimeStampVerifier.main(TimeStampVerifier.java:88)

So I’m investigating but I guess problem is located in certificate files. Maybe I miss one.

Thanks again to feed me with the starting point.



> Le 28 juil. 2016 à 18:16, Msca <notifications@github.com> a écrit :
> 
> @typepub <https://github.com/typepub>, it's not going to be easy if you're not goodd at PHP but you can try anyway.
> 
> The PHP code we all use is based on David Mueller's code. Originally used only openssl, but openssl didn't upgrade to support the new certificates, so in 2012 we had that bug that nobody wants to correct, DDFN (German Research Network) used Bouncycastle library to make the verification for its own TSA and its own certificates but it is in Java.
> Nicolas Carpi made a great integration in his elabftw between the PHP code that we all used to communicate with the TSA and this Java validation provided by DFN.
> 
> I hope I explained what we are doing here and why.
> 
> Now let's go to where and how.
> 
> When the error occur it is handled in this line:
> https://github.com/elabftw/elabftw/blob/master/app/classes/TrustedTimestamps.php#L423 <https://github.com/elabftw/elabftw/blob/master/app/classes/TrustedTimestamps.php#L423>
> This line calls the fuction validateWithJava() which in turn run the execution of the verify.sh file.
> $cmd = "./verify.sh " . $this->requestfilePath . " " . $this->responsefilePath;
> $javaRes = $this->runSh($cmd);
> 
> If you open the file verify.sh you can see that it sends the java commands providing two external parameter and not one but three certificates (the DFN ones) chain.txt, crl.txt, rootcert.crt.
> 
> It's going to take some time if you're not expert to adapt the code to your situation, but don't give up :-)
> 
> Let me know if that helped you.
> 
> —
> You are receiving this because you were mentioned.
> Reply to this email directly, view it on GitHub <https://github.com/elabftw/elabftw/issues/242#issuecomment-235945419>, or mute the thread <https://github.com/notifications/unsubscribe-auth/ATv0HScWG1NEj48Ni7nN5rI-XZ3own66ks5qaNXBgaJpZM4IJ8pL>.
> 



Haha yes, a successful failure!

I'm glad I was able to help.

Well, there is some progress:
Data in response matches data in request.
Signer: C=US,O=Symantec Corporation,OU=Symantec Trust Network,CN=Symantec SHA256 TimeStamping Signer - G1
Time stamp token validated.
CRL from issuer CN=VeriSign Universal Root Certification Authority, OU="(c) 2008 VeriSign, Inc. - For authorized use only", OU=VeriSign Trust Network, O="VeriSign, Inc.", C=US thisUpdate: Tue Jun 07 02:00:00 CEST 2016
Exception in thread "main" sun.security.provider.certpath.SunCertPathBuilderException: unable to find valid certification path to requested target
	at sun.security.provider.certpath.SunCertPathBuilder.build(SunCertPathBuilder.java:146)
	at sun.security.provider.certpath.SunCertPathBuilder.engineBuild(SunCertPathBuilder.java:131)
	at java.security.cert.CertPathBuilder.build(CertPathBuilder.java:280)
	at de.dfncert.timestampverifier.TimeStampVerifier.buildPath(TimeStampVerifier.java:200)
	at de.dfncert.timestampverifier.TimeStampVerifier.main(TimeStampVerifier.java:155)


I opened the Java code and, after many tries, I saw that the problem resides on CRL. If I disable the CRL check, the result is OK:
Data in response matches data in request.
Signer: C=US,O=Symantec Corporation,OU=Symantec Trust Network,CN=Symantec SHA256 TimeStamping Signer - G1
Time stamp token validated.
CertPath validated. TrustAnchor: CN=VeriSign Universal Root Certification Authority, OU="(c) 2008 VeriSign, Inc. - For authorized use only", OU=VeriSign Trust Network, O="VeriSign, Inc.", C=US

So I guess I’m close to the solution, but I really tried all the CRLs I have. 




> Le 29 juil. 2016 à 11:39, Msca <notifications@github.com> a écrit :
> 
> Haha yes, a successful failure!
> 
> I'm glad I was able to help.
> 
> —
> You are receiving this because you were mentioned.
> Reply to this email directly, view it on GitHub <https://github.com/elabftw/elabftw/issues/242#issuecomment-236138244>, or mute the thread <https://github.com/notifications/unsubscribe-auth/ATv0HX34r_FHtj5IuxVPy0L4zRv2zOqNks5qacpcgaJpZM4IJ8pL>.
> 



Excellent, that will help me, I still didn't have the time to enable or disable the checks on the other certificates, I had to do these tests anyway. I hope I can work on it this weekend so we can share the results.

And here it is:
Data in response matches data in request.
Signer: C=US,O=Symantec Corporation,OU=Symantec Trust Network,CN=Symantec SHA256 TimeStamping Signer - G1
Time stamp token validated.
CRL from issuer CN=Symantec SHA256 TimeStamping CA, OU=Symantec Trust Network, O=Symantec Corporation, C=US thisUpdate: Thu Jul 28 11:01:06 CEST 2016
CRL from issuer CN=VeriSign Universal Root Certification Authority, OU="(c) 2008 VeriSign, Inc. - For authorized use only", OU=VeriSign Trust Network, O="VeriSign, Inc.", C=US thisUpdate: Tue Jun 07 02:00:00 CEST 2016
CertPath validated. TrustAnchor: CN=VeriSign Universal Root Certification Authority, OU="(c) 2008 VeriSign, Inc. - For authorized use only", OU=VeriSign Trust Network, O="VeriSign, Inc.", C=US


Well, I can see I have a very special problem. The timestamp is generated by Symantec service. The chain is <MyHash> signed by "Symantec SHA256 TimeStamping Signer - G1" signed by "Symantec SHA256 TimeStamping CA" signed by "VeriSign Universal Root Certification Authority" (root). What is quite unusual is that I had to manage two CRLs : the one for the intermediate certificate and the one for the root certificate.

In order to have a full validation, I had to put both CRLs in one file ("cat universal-root.crl sha256-tss-ca.crl >crl.txt"). After that, the check was OK !

I suggest that this verify tool should be issued as a dedicated software, as it can solve problems even for people not using elabftw. 

For elabftw team (@NicolasCARPi), please not that my need is quite close of what you do: I need to timestamp files, just to prove they are existing at a certain date. This is a way to prove my paternity on creations and therefore to enforce my author rights. So, as I have a lot of files to manage (more than 50 000) and I don’t want to register it manually, I just want to script the timestamp generation and archiving. I didn’t see how to use elabftw in an automated way (i.e. run once a day and timestamp all new files regarding criteria) and seamlessly.




> Le 29 juil. 2016 à 12:25, Msca <notifications@github.com> a écrit :
> 
> Excellent, that will help me, I still didn't have the time to enable or disable the checks on the other certificates, I had to do these tests anyway. I hope I can work on it this weekend so we can share the results.
> 
> —
> You are receiving this because you were mentioned.
> Reply to this email directly, view it on GitHub <https://github.com/elabftw/elabftw/issues/242#issuecomment-236146970>, or mute the thread <https://github.com/notifications/unsubscribe-auth/ATv0HaGH9wJPd86nyrFvqNE1FW8DkyE_ks5qadUBgaJpZM4IJ8pL>.
> 



Indeed there is no automatic timestamping in elabftw. But it would not be complicated to add. You can have a cron.php file executed every day, and in it (pseudocode):
* find all experiments where timestamped = 0
* foreach(timestamp(experiment))

Thanks. I'll have a look.

I'm in trouble, I've been fighting for three days now.
In my Ubuntu 14.04 pre-production environment everything works smoothly.

I migrated now the code in the Production environment, which should be exaclty the same. Unfortunately the bash call to verify.sh file doesn't work here, I cannot understand why.

Would you help me please?

Here's the original verify.sh modified to accept programmatically a certificate as the parameter $3.


*****
#!/bin/sh
#Runs the TimeStampVerifier
#modified for use in eLabFTW
request=$1
response=$2
chain=$3
#chain=chain.txt
#root=rootcert.crt
#crl=crl.txt
class=de.dfncert.timestampverifier.TimeStampVerifier
libs=libs/bcpkix-jdk15on-152.jar:libs/bcprov-jdk15on-152.jar
java -cp $libs:. $class "$request" "$response" "$chain" 
******

Terminal:
ubuntu@certifydoc04:/tmp/timestampverifier$ bash ./verify.sh /tmp/tsq.tsq /tmp/tsr.tsr /tmp/ChainZeitstempel.pem
**Error: Could not find or load main class de.dfncert.timestampverifier.TimeStampVerifier**

I thought it was a Java problem with $JAVA_HOME or $CLASSPATH but I couldn't solve.

That's my verify.sh now
*****
#!/bin/sh
#Runs the TimeStampVerifier
#modified for use in eLabFTW
request=$1
response=$2
chain=$3
#chain=chain.txt
#root=rootcert.crt
#crl=crl.txt
class=de.dfncert.timestampverifier.TimeStampVerifier
libs=libs/bcpkix-jdk15on-152.jar:libs/bcprov-jdk15on-152.jar
#java -cp  $libs:. $de.dfncert.timestampverifier.TimeStampVerifier "$request" "$response" "$chain" 
#java -cp $libs:. $class "$request" "$response" "$chain" "$root" "$crl"
#java -cp $libs:. $class "$request" "$response" "$chain" 

java -cp  libs/bcpkix-jdk15on-152.jar:libs/bcprov-jdk15on-152.jar:. de.dfncert.timestampverifier.TimeStampVerifier "$request" "$response" "$chain" 
*****

Doesn't work if I use the terminal command.
Terminal:
ubuntu@certifydoc04:/tmp/timestampverifier$ bash ./verify.sh /tmp/tsq.tsq /tmp/tsr.tsr /tmp/ChainZeitstempel.pem
 **(No such file or directory)ava.io.FileNotFoundException: /tmp/tsq.tsq	at 
java.io.FileInputStream.open0(Native Method)	at 
java.io.FileInputStream.open(FileInputStream.java:195)	at 
java.io.FileInputStream.<init>(FileInputStream.java:138)	at 
java.io.FileInputStream.<init>(FileInputStream.java:93)	at 
de.dfncert.timestampverifier.TimeStampVerifier.main(TimeStampVerifier.java:66)**


But, it works calling it directly withoput the bash file

Terminal:
ubuntu@certifydoc04:/tmp/timestampverifier$ java -cp libs/bcpkix-jdk15on-152.jar:libs/bcprov-jdk15on-152.jar:.  de.dfncert.timestampverifier.TimeStampVerifier /tmp/tsq.tsq /tmp/tsr.tsr /tmp/ChainZeitstempel.pem
**Data in response matches data in request.
Signer: C=DE,ST=Berlin,L=Berlin,O=Verein zur Foerderung eines Deutschen Forschungsnetzes e. V.,OU=DFN-PKI,CN=PN: Zeitstempel
Time stamp token validated.
Certificate Chain not validated.**

How can this be? I cannot go further than this at the moment.



Hello,

The only difference I see is the call to « bash » to launch the script. Have you tried to just invoque ./verify.sh with same parameters ? Does-it change anything ? 

As Java can’t find the file, I guess everything is OK in the script but maybe a privilege is missing somewhere ?



> Le 4 août 2016 à 17:36, Msca <notifications@github.com> a écrit :
> 
> I'm in trouble, I've been fighting for three days now.
> In my Ubuntu 14.04 pre-production environment everything works smoothly.
> 
> I migrated now the code in the Production environment, which should be exaclty the same. Unfortunately the bash call to verify.sh file doesn't work here, I cannot understand why.
> 
> Would you help me please?
> 
> Here's the original verify.sh modified to accept programmatically a certificate as the parameter $3.
> 
> #!/bin/sh
> #Runs the TimeStampVerifier
> #modified for use in eLabFTW
> request=$1
> response=$2
> chain=$3
> #chain=chain.txt
> #root=rootcert.crt
> #crl=crl.txt
> class=de.dfncert.timestampverifier.TimeStampVerifier
> libs=libs/bcpkix-jdk15on-152.jar:libs/bcprov-jdk15on-152.jar
> java -cp $libs:. $class "$request" "$response" "$chain"
> 
> Terminal:
> ubuntu@certifydoc04:/tmp/timestampverifier$ bash ./verify.sh /tmp/tsq.tsq /tmp/tsr.tsr /tmp/ChainZeitstempel.pem
> Error: Could not find or load main class de.dfncert.timestampverifier.TimeStampVerifier
> 
> I thought it was a Java problem with $JAVA_HOME or $CLASSPATH but I couldn't solve.
> 
> That's my verify.sh now
> 
> #!/bin/sh
> #Runs the TimeStampVerifier
> #modified for use in eLabFTW
> request=$1
> response=$2
> chain=$3
> #chain=chain.txt
> #root=rootcert.crt
> #crl=crl.txt
> class=de.dfncert.timestampverifier.TimeStampVerifier
> libs=libs/bcpkix-jdk15on-152.jar:libs/bcprov-jdk15on-152.jar
> #java -cp $libs:. $de.dfncert.timestampverifier.TimeStampVerifier "$request" "$response" "$chain" 
> #java -cp $libs:. $class "$request" "$response" "$chain" "$root" "$crl"
> #java -cp $libs:. $class "$request" "$response" "$chain"
> 
> java -cp libs/bcpkix-jdk15on-152.jar:libs/bcprov-jdk15on-152.jar:. de.dfncert.timestampverifier.TimeStampVerifier "$request" "$response" "$chain"
> 
> Doesn't work if I use the terminal command.
> Terminal:
> ubuntu@certifydoc04:/tmp/timestampverifier$ bash ./verify.sh /tmp/tsq.tsq /tmp/tsr.tsr /tmp/ChainZeitstempel.pem
> (No such file or directory)ava.io.FileNotFoundException: /tmp/tsq.tsq at 
> java.io.FileInputStream.open0(Native Method) at 
> java.io.FileInputStream.open(FileInputStream.java:195) at 
> java.io.FileInputStream.(FileInputStream.java:138) at 
> java.io.FileInputStream.(FileInputStream.java:93) at 
> de.dfncert.timestampverifier.TimeStampVerifier.main(TimeStampVerifier.java:66)
> 
> But, it works calling it directly withoput the bash file
> 
> Terminal:
> ubuntu@certifydoc04:/tmp/timestampverifier$ java -cp libs/bcpkix-jdk15on-152.jar:libs/bcprov-jdk15on-152.jar:. de.dfncert.timestampverifier.TimeStampVerifier /tmp/tsq.tsq /tmp/tsr.tsr /tmp/ChainZeitstempel.pem
> Data in response matches data in request.
> Signer: C=DE,ST=Berlin,L=Berlin,O=Verein zur Foerderung eines Deutschen Forschungsnetzes e. V.,OU=DFN-PKI,CN=PN: Zeitstempel
> Time stamp token validated.
> Certificate Chain not validated.
> 
> How can this be? I cannot go further than this at the moment.
> 
> —
> You are receiving this because you were mentioned.
> Reply to this email directly, view it on GitHub <https://github.com/elabftw/elabftw/issues/242#issuecomment-237591605>, or mute the thread <https://github.com/notifications/unsubscribe-auth/ATv0HU8-CihcHi_IZd2gzCJbuAB7xVJzks5qcgbogaJpZM4IJ8pL>.
> 



Yeah, I didn't spot something obvious either...

BTW, to get rid of «it worked in preprod, but not in prod», use Docker, it rocks ;)

@typepub, this is what happens if i remove the "bash" or "sh":

ubuntu@certifydoc04:/tmp/timestampverifier$ ./verify.sh /tmp/tsq.tsq /tmp/tsr.tsr /tmp/ChainZeitstempel.pem
**bash: ./verify.sh: /bin/sh^M: bad interpreter: No such file or directory**

Maybe the bash has a problem?

@Nicolas, I'm using a VM image in the Openstack infrastructure, same image to start but then they cannot be synchronized and overtime they diverge, also because they run Wordpress and its MySql database that is hoghly dependent on the main website URL.
There are two instances online with public IP and SSL certificate in two different Openstack clouds (preprod and prod). 
Would docker help in that case? My problem is the SSL certificate and the Public IP that have to be different between the preprod and the prod (I already mentioned the dependency on the main website URL on wordpress and its plugins).

@MarioScalabrino remove windows line ending (^M) !!!



Buff, that was it, solved. Almost 4 days for that silly thing.
Thank you both for helping

ahah I knew it ! :D 
What text editor do you use ? Maybe configure it to convert line endings to the UNIX one, not the windows one which tend to mess things up ;)
And while you're at it, configure it to show whitespaces at end of lines in red. It always help.

Great suggestion, I will take it very seriously now, sooo much time for such a minor thing. 

I'm using Sublime text build 3103 and the Netbeans IDE 8.1 patch 1. 

Do you know how to do that thihngs you suggest in Sublime text and Netbeans for Ubuntu 14.04?

You can use this one : https://github.com/SublimeText/TrailingSpaces
For line ending idk.

Great thanks, tomorrow I'll install them.

Hi,

not all of use have "real" server, so for those who host elabFTW on a standard shared hoster, but still want to somehow time stamp, these service works:
http://tsa.safecreative.org.

It is only freely available for 5 ts per day, but if you have a bigger group, you probably should invest in a real server anyway.
To get it to work you have to download their [certificate ](https://tsa.safecreative.org/certificate) and put if (via FTP) in your /vendor/ path. Than you should reference it under "SysAdmin > TimeStamp > chain of ...".
The URL is just http://tsa.safecreative.org.

Regards,
Jan

PS: I am not affiliated in any way with above mentioned service.


Why wouldn't it work with the default TSA on your shared server?

Thanks for the tip anyway @gebauer :) I added it to the [documentation](https://elabftw.readthedocs.io/en/hypernext/manual.html#timestamp)

BTW, you should use https://tsa.safecreative.org instead of the http address! 

> Why wouldn't it work with the default TSA on your shared server?

Because of the openSSL bug?
Jave is normally not installed on shared hosts...

Just as a follow up, the patch has been merged to master and I could verify a timestamp with openssl from master. Hopefully the next release will contain this patch \o/

Hy,

I got the again the error : `"Could not validate the timestamp due to a bug in OpenSSL library. See issue #242. Tried to validate with failsafe method but Java is not installed."`

I installed a new instance on a private shared host ([Dreamhost](https://help.dreamhost.com/hc/en-us/articles/217185287-Java)). I checked if java was installed, as it seems to be the issue, and the command `>java -version` gives me this :
```
java version "1.7.0_151"
OpenJDK Runtime Environment (IcedTea 2.6.11) (7u151-2.6.11-0ubuntu1.14.04.1)
OpenJDK 64-Bit Server VM (build 24.151-b01, mixed mode)
```
I could go for the safecreative tsa certificate configuration, but I need more than 5 validation per day. (The labnote is for 20 students working at the same time over university wifi network with the same IP...).

Sorry for the noob question.


Hello,

What happens if you just run `java` (because [the code](https://github.com/elabftw/elabftw/blob/master/app/classes/TrustedTimestamps.php#L424-L433) is checking for the presence of the word "class" after this command)?

Ok weird. I don't get why java is not correctly detected…

What is `which java`? (thinking about a path issue)

`/usr/bin/java`

Yes, I don't understand.

Try this:

1/ Comment out [these lines](https://github.com/elabftw/elabftw/blob/master/app/classes/TrustedTimestamps.php#L444-L446). So we disable the check (we know it's installed anyway).

2/ (optional) Edit [this line](https://github.com/elabftw/elabftw/blob/master/app/dfn-cert/timestampverifier/verify.sh#L14) and replace java with /usr/bin/java.

And try to timestamp.

I get an `undefined` error message after modification 1 and nothing more with modification 2 ... 

Can you now check in the logs (either on sysadmin panel or the Apache/Nginx logs)?

LOGS on sysadmin panel only show the errors when the IsJavaIntalled() function is active


```
✪ 2018-01-31 04:06:29 [ Error ] Could not validate the timestamp due to a bug in OpenSSL library. See <a href='https://github.com/elabftw/elabftw/issues/242#issuecomment-212382182'>issue #242</a>. Tried to validate with failsafe method but Java is not installed. (1)
✪ 2018-01-31 02:34:48 [ Error ] Could not validate the timestamp due to a bug in OpenSSL library. See <a href='https://github.com/elabftw/elabftw/issues/242#issuecomment-212382182'>issue #242</a>. Tried to validate with failsafe method but Java is not installed. (1)
✪ 2018-01-31 02:32:00 [ Error ] Could not validate the timestamp due to a bug in OpenSSL library. See <a href='https://github.com/elabftw/elabftw/issues/242#issuecomment-212382182'>issue #242</a>. Tried to validate with failsafe method but Java is not installed. (1)
✪ 2018-01-31 00:28:11 [ Error ] Could not validate the timestamp due to a bug in OpenSSL library. See <a href='https://github.com/elabftw/elabftw/issues/242#issuecomment-212382182'>issue #242</a>. Tried to validate with failsafe method but Java is not installed. (1)
✪ 2018-01-30 01:27:05 [ Error ] Could not validate the timestamp due to a bug in OpenSSL library. See <a href='https://github.com/elabftw/elabftw/issues/242#issuecomment-212382182'>issue #242</a>. Tried to validate with failsafe method but Java is not installed. (1)
✪ 2018-01-30 00:33:05 [ Error ] Could not validate the timestamp due to a bug in OpenSSL library. See <a href='https://github.com/elabftw/elabftw/issues/242#issuecomment-212382182'>issue #242</a>. Tried to validate with failsafe method but Java is not installed. (1)
✪ 2018-01-30 00:12:50 [ Error ] Could not validate the timestamp due to a bug in OpenSSL library. See <a href='https://github.com/elabftw/elabftw/issues/242#issuecomment-212382182'>issue #242</a>. Tried to validate with failsafe method but Java is not installed. (1)
```

I haven't found the Apache/nginx logs yet...

On a shared host you might need to go your control panel to acces them. Or maybe you have a "log" folder somewhere at the root dir ? Or maybe you just can't access them.

Also, as a curiosity, how much do you pay for your shared hosting? 10$/month for 1Go RAM?

Because with DigitalOcean you get twice as much RAM for the same price, and you're root on the machine, and you can install Docker, and you can access the logs, and you can forget about these troubles :p 
And if you use [this link](https://m.do.co/c/c2ce8f861e0e) you even get 10$ for free!

I pay 9.95$/month and have no idea how much RAM is available. But indeed I can't install docker.

Yeah, probably 1 Go, and it's shared RAM, so cannot be guaranted afaik. With Docker you get the added benefits of not having to worry about php versions, php available extensions, java version, etc… It just works (once it's setup properly ofc). And at DigitalOcean you have a lot of nice little tools at your disposal for making an entire backup and other stuff.

Out of curiosity, what php version is it running on? (you can see that in the sysadmin panel)

php version of the shell:

```
PHP 7.0.27 (cli) (built: Jan 30 2018 20:58:12) ( NTS )
Copyright (c) 1997-2017 The PHP Group
Zend Engine v3.0.0, Copyright (c) 1998-2017 Zend Technologies
    with Zend OPcache v7.0.27, Copyright (c) 1999-2017, by Zend Technologies
```

php version of the site: 7.0 also

Yes I have also a docker install on a VM for the lab note at work, and for this one the timespamping works with the default config but not with the SafeCreative certificate. I bothererd you with this also some time ago (issue #435 ).

Here its a git install on my shared host for students labnote during practicals (haven't asked for hosting by the university IT this year, I wanted to check first if it was working with the students).

Anayway, I am also using my shared host plan for personal blogs, picture gallery, rss agregator and other self-hosted services, so I'm not so eager to change the host... 

I've been looking for other free timestamping services that would work with elabftw.

You can get 10 free timestamps per IP with registration on [SafeStamper](https://www.safestamper.com/tsa). The certificate is the same as SafeCreative and it works.

I tried also [FreeTSA](https://www.freetsa.org/index_en.php) (unknown limitation) and got it to work with [https://freetsa.org/tsr](https://freetsa.org/tsr) and their Freetsa CA Certificate: [cacert.pem](https://www.freetsa.org/files/cacert.pem).

It will solve my problem for the time being.

Ok great, I should write documentation for all the different TSA one can use…